
<a href="/movies" id="go-back-link"> Go back </a>


<div class="container">
    <div class="raw" id="main-content-movie-details">

        <div class="col-md-4">
                <img src="{{OneMovie.image}}" />
        </div>
    
    <div class="col-md-8">
            <div class="detail-content">
                    <h5>{{OneMovie.title}} </h5>
                    <h4>{{OneMovie.director}} </h4>


                    <h6> Stars: </h6>
                        <ul>
                        {{OneMovie.stars}}
                    </ul>

                    <h6> Description: </h6>
                    <p>{{OneMovie.description}}</p>

                    <h6> Movies Showtime: </h6>
                    <p>{{OneMovie.showtimes}} </p>

            </div>
        </div>
    </div>
</div>
